

.line{
  text-align: center;
}.login{
  text-align: center;

}.f{
float:center;
}.bar{
height: 250px;
}.text{
color: dimgrey;
}.text1{
  color: dimgrey;
}.img{
  height: 150px !important;
  width: auto !important;
  align-items: center;
}
