<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full" xLayoutAlign="center" fxFlex="40">
      <ion-label position="floating" >Firs Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full" xLayoutAlign="center" fxFlex="40">
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </form>

  <ion-button [routerLink]="['/login']" expand="block" color="primary">Sign up</ion-button>
</ion-content>
