.menu {
  color: white !important;
}
.bnn{
  padding: 5px;
  border-radius: 3px;
  border: .3px solid rgb(210, 210, 210);
  background-color:#e0bb2e;
  font-size: 10px;
}
.r{
  background-color:#ffc409;
}
.title{
  font-size: 15px;
  padding: 2px;
  border-radius: 3px;


}
.sub{
  font-size: 12px;
  padding: 2px;
  border-radius: 3px;


}
.avt{
  width:20vw ;
  height:15vh;
  overflow: hidden;
  padding: 2px;
  border-radius: 3px;
  border: .5px solid rgb(210, 210, 210);
  background-color:black;
  font-size: 15px;

}

