<ion-header class="mybg">
  <ion-toolbar color="primary">
    <ion-icon slot="end" name="cart-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="light">
      Your Orders
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-side-menu></app-side-menu>


<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [routerLink]="['/orderbbn']" padding color="light">
  <ion-item margin-bottom no-padding lines="none" class="bnn">
    <ion-row align-items-center>
      <ion-col size="2">
        <img src="https://static.wixstatic.com/media/c8a905_0f6ff489e5f2489abe4e324d4792fb96~mv2.jpg/v1/fit/w_800%2Ch_533%2Cal_c%2Cq_80/file.jpg">
      </ion-col>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-col>
        <ion-row>
          <ion-text>
            <h1 class="title" no-margin><strong>กล้วยไข่หวาน</strong></h1>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            <h1 no-margin class="sub">ข้อมูล</h1>
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col float-right size="2">
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
