<ion-header class="mybg">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title color="light">
      Order Details
    </ion-title>
    <ion-buttons  slot="end">
      <ion-button >
        <ion-icon  name="close" slot="icon-only" class="white" margin></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding color="medium">
  <ion-item >
    <ion-row align-items-center>
      <ion-col>
        <img [src]="dataorders.image">
        <ion-label class="bnn">
          <ion-row>
            {{dataorders.name}}
          </ion-row>
          <ion-row>
            {{dataorders.price}}
          </ion-row>
          <ion-row>
            {{dataorders.discount}}
          </ion-row>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>








