<ion-header class="mybg">
  <ion-toolbar color="primary">
    <ion-title>
      Product Details
    </ion-title>
    <ion-button (click)="backClicked()" slot="end">
      <ion-icon name="close-outline">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card-content class="card">
    <ion-row>
      <ion-col>
        <img [src]="dataproduct.image" class="imgdetail">
        <ion-label>
          <ion-row class="banana">
            {{dataproduct.name}}
          </ion-row>
          <ion-row>
            {{dataproduct.price}}
            {{dataproduct.currency}}

          </ion-row>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-card-content class="carddetail"> 
  <ion-col class="detail">
      {{dataproduct.detail}}
    </ion-col>
  </ion-card-content>    
  <ion-icon *ngIf="!liked" size="small" float-right name="heart-outline" class="love" (click)="like()">
    </ion-icon>
    <ion-icon *ngIf="liked" size="small" float-right name="heart" class="love_red" (click)="like()">
    </ion-icon> 
</ion-content>