
.love{
    color: rgb(0, 0, 0);
    margin-inline-start: 90%;
}
.love_red{
    color: red;
    margin-inline-start: 90%;
}
.imgdetail{
    width: 100%;
    height: cover;
}
.banana{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.instagram{
    color: black;
    margin-left: 80%;
    
}
.detail{
    padding-left: 2%;
    font-style: inherit;
    
}
.carddetail{
    background-color: rgb(243, 243, 243);
    margin-top: 5px;
}
.card{
    background-color: rgb(243, 243, 243);
    
}