.Checkout{
  margin-right: 70%;
  color:azure
}.Total{
  margin-left: auto;
}.shipping{
  margin-left: auto;
}.Item-Total{
  margin-left: auto;
}.imag-banana{
  width: 70px;
  height: 80px;
}.imag-banana1{
  width: 70px;
  height: 80px;
}.text{
  font-size: large;
  color: rgb(255, 255, 255);
}.data{
  padding: 0;
  font-size: smaller;
}.drop-down{
  margin-left: auto;
}.code{
  background: rgb(46, 46, 46);
}.apply{
  margin-left: auto
}